$dkBlue: #0B132B;
$spaceCadet: #1C2541;
$midBlue: #3A506b;
$lightBlue: #5bc0be;
$brightBlue: #6fffe9;


body{
	overflow:hidden;
	text-align: center;
	background-color: $midBlue;
}

.scrollBody{
	overflow: scroll;
}

header {
	background-color: $lightBlue;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	text-align: center;
	height: 100vh;
	h1 {
		margin-left: auto;
		margin-right: auto;
		width: 50vw;
		color: $midBlue;
		text-shadow: 2px 2px 2px #00000030; 
		font-size: 3em;
	}

	.button {
		background-color: $midBlue;
		color: $lightBlue;
	}
}

.header-results {
	height: 30vh;
	.button {
		display: none;
	}
}

aside{
	
	width: 45vw;
	height: 10vh;
	position: fixed;
	right: -10%;
	top: 50%;
	z-index: 99;
	#up,
	#down {
		background-color: $lightBlue;
		height: 10vh;
	}
	#line {
		background-color: $lightBlue;
		height: 10vh;
		margin-left: 0px !important;
		clip-path: inset(0 49% 0 49%);
	}
	
}

div {
	height: 100vh;
	background-color:$midBlue; 
}

.question-div	{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	align-items: center;
}

.question h2 {
	color: $lightBlue;
	font-size: 2em;
	text-shadow: 2px 2px 2px #00000060;

}



.answers{ 
	display: flex;
	flex-direction: column;
	button {
		margin: 10px;
		border-radius: 10px;
		background-color: $lightBlue;
		outline:none;
		border: none;
		color: $midBlue;
		width: 50vw;
		box-shadow: 2px 2px 2px #00000060;
		transition: border 0.4s, box-shadow 0.4s;
		font-size: 1.5em;
		&:hover{
			box-shadow: 2px 4px 4px #00000080;
			color: $brightBlue;
			cursor: pointer;
		}
	}
	.selected {
		box-shadow: 2px 4px 4px #00000080;
		border: 3px solid $brightBlue;
	}
}

.results {
	margin: 0 10px;
	h1{
		color: $brightBlue;
		text-shadow: 2px 2px 2px #00000030; 
	}
	p {
		color: #eee;
		text-align: left;
		text-shadow: 2px 2px 2px #00000030;
	}
}

.button {
	margin: 10px auto;
	border-radius: 10px;
	background-color: $lightBlue;
	outline:none;
	border: none;
	color: $midBlue;
	width: 50vw;
	box-shadow: 2px 2px 2px #00000060;
	transition: border 0.4s, box-shadow 0.4s;
	font-size: 1.5em;
	&:hover{
		box-shadow: 2px 4px 4px #00000080;
		color: $brightBlue;
		cursor: pointer;
	}
}
