$lightGreen: #A763D1;
$mauve: #592B3F;
$dkGreen: #0E8AA4;
$white: #F2F8F5;
$lightPink: #F83DB1;
$linearGradient: linear-gradient(to bottom right, #4C6CCD, #F83DB1);
$breakpointOne: 600px;
$breakpointTwo: 900px;
$breakpointThree: 1200px;


body{
	text-align: center;
	background-image: $linearGradient;
	height: 100vh;
}

#root {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	overflow:hidden;

}

.scrollBody{
	flex-direction: column !important;
	justify-content: flex-start !important;
	overflow: scroll !important;
}



header {
	flex:0 0 auto;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	text-align: center;
	height: 100vh;
	width: 100vw !important;
	h1 {
		margin-left: auto;
		margin-right: auto;
		width: 50vw;
		color: $white;
		text-shadow: 2px 2px 2px #00000030; 
		font-size: 3em;
	}

	.button {
		background-color: $white;
		color: $lightGreen;
	}
}

.header-results {
	height: 30vh;
}

aside{
	margin-left: auto;
	margin-right: auto;
	width: 100vw;
	height: 20vh;
	position: fixed;
	left: 0px;
	top: 40%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	#left,
	#right {
		font-size: 45px;
		background-color: transparent;
		color: $white;
		width: auto;
		height: auto;
		margin: auto 10px;
		margin-right: 10px;
		display: inline-block;
		outline: none;
		border: none;
	}
}

.hide{
	visibility: hidden;
}

div {
	height: 100vh;
	width: 100vw;
	flex:0 0 auto;
}
.question-div	{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	align-items: center;
}

.question h2 {
	color: $white;
	font-size: 2em;
	text-shadow: 2px 2px 2px #00000060;

}



.answers{ 
	display: flex;
	flex-direction: column;
	button {
		z-index: 4;
		margin: 10px;
		border-radius: 10px;
		background-color: $white;
		outline:none;
		border: none;
		color: $dkGreen;
		width: 50vw;
		box-shadow: 2px 2px 2px #00000060;
		transition: border 0.4s, box-shadow 0.4s;
		font-size: 1.5em;
		&:hover{
			box-shadow: 2px 4px 4px #00000080;
			color: $lightPink;
			cursor: pointer;
		}
	}
	.selected {
		box-shadow: 2px 4px 4px #00000080;
		border: 3px solid $lightPink;
	}
}

//results component
.results {
	margin: 0 auto;
	text-align: center;
	h1{
		color: $lightPink;
		text-shadow: 2px 2px 2px #00000030; 
	}
	h3{
		color: #eee;
		text-align: left;
		text-shadow: 2px 2px 2px #00000030;
	}
	ul li {
		color: #ffffff;
		text-align: left;
		margin-bottom: 15px;
		list-style: none;
	}
}
.button-container {
	position: absolute;
	bottom: 15px;
	height: 8vh;
	width: 100vw;
}
.button, .start-button {
	position: absolute;
	bottom: 15px;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	text-align: center;
	border-radius: 10px;
	background-color: $white;
	outline:none;
	border: none;
	color: $dkGreen;
	width:  20vw;
	height: 5vh;
	box-shadow: 2px 2px 2px #00000060;
	transition: box-shadow 0.4s;
	font-size: 1.5em;
	&:hover{
		box-shadow: 2px 4px 4px #00000080;
		color: $lightPink;
		cursor: pointer;
	}
}
.clicked{
	display: none;
}


@media (min-width: $breakpointOne) {

	header{
		h1{
			font-size: 5em;
		}
		.button {
			height: 10vh;
			font-size: 2em;
		}
	}
	aside {
		#left,
		#right {
			font-size: 4em;
		}
	}
	.question h2 {
		font-size: 3em;
	}

	.answers{
		button {
			width: 30vw;
		}
	}
	
	.button {
		margin-left: auto;
		margin-right: auto;
		height: 8vh;
	}

	.results {
		h1{
			font-size: 2.5em;
		}
		p{
			font-size: 1.3em;
		}
	}
}

@media (min-width: $breakpointTwo) {
	.answers{
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		button {
			width: 40vw;
		}
	}
}


@media (min-width: $breakpointThree) {
	header{
		h1{
			font-size: 5em;
		}
		.button {
			font-size: 3em;
		}
	}
	aside {
		#left,
		#right {
			font-size: 5em;
		}
	}
	.question h2 {
		font-size: 4em;
	}

	.answers{
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		width: 80vw;
		button {
			width: 30vw;
			height: 8vh;
			font-size: 2em;
		}
	}
	

	.button {
		font-size: 2em;
	}


	.results {
		width: 50vw;
		h1{
			font-size: 3.5em;
		}
		p{
			font-size: 2.3em;
			padding-bottom: 20%;
		}
	}
}
