body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/*rid the spacing between dots*/
p{
	margin: 0;
	line-height: 40%;
	cursor:default;
}

/*TOP BAR STYLING*/
.TopBar{
	display:flex;
	flex-direction: column;
}

.lgRow {
	display:flex;
	flex-direction: row;
	justify-content: space-between;
}

.Buttons{
	display:flex;
	flex-direction: column;
}

.lgButtons{
	display:flex;
	flex-direction: row;
	margin-right: 5%;
}

.lgButtons .button{
	width:60px;
}


.undo, 
.redo{
	padding-right:1%;
	border:none;
}

.undoColorVisable{
	opacity: 1;
}
.undoColorNotVisable{
	opacity: 0;
}
.undoAbled:hover,
.redoAbled:hover{
	font-weight: bold;
}

.title{
	margin-right: auto;
	margin-left: auto;
	margin-top: 0px;
}

/*STYLE BAR*/
.stylebar{
	float:left;
}

.styleBarBackgroundColor{
	float:left;
	background-color: #eee
}

.style-bar{
	background-color: #eee
}

.blackOutStyleBar{
	background-color: none;
	color:#fff;
}

/*style for label button sizing*/

.sizeStyle, .spaceStyle{
	display:flex;
	flex-direction: row;
	margin:3px;
}


.subtractBtn, .additionBtn {
	margin-left: 8px;
	margin-right: 8px;
}
/*class for the div*/

.center-dot{
	position:absolute;
	top:50%;
	left:50%;
}

.allDots{
	display:flex;
	flex-wrap: wrap;
	flex-direction: column;
}


/*Start Button*/
.startButton{
	background-color: #fff;
	border: none;
	font-size: 45px;
	animation-name: circleBlinking;
   	animation-duration: 4s;
   	animation-iteration-count: infinite;
}
/*Blinking Animation*/


@keyframes circleBlinking {
	0% {
		opacity:1;
	}
	25% {
		opacity:0;
	}
	50% {
		opacity:1;
	}
	75% {
		opacity:0;
	}
	100% {
		opacity:1;
	}
}

.blink-animation{
   	animation-name: circleBlinking;
   	animation-duration: 1s;
   	animation-iteration-count: infinite;
}


