body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/*rid the spacing between dots*/
p{
	margin: 0;
	line-height: 40%;
	cursor:default;
}

/*TOP BAR STYLING*/

.ParentTb {
	display:flex;
	flex-direction: row;
	justify-content: space-between;
}

.TbButtonsSmall{
	display:flex;
	flex-direction: column;
	margin-right: 5px;
}

.TbButtonsLarge{
	display:flex;
	flex-direction: row;
	margin-right: 5px;
	height:20px;
}

.button{
	outline: none;
	padding-right:1%;
	border:none;
}

button{
	outline:none;
}

.TbButtonsSmall .button{
	font-size:14px;
}

.button:disabled{
	color: #ccc !important;
}

.btnAbled:hover{
	animation-name: circleBlinking;
   	animation-duration: .9s;
   	animation-iteration-count: infinite;
}

.title{
	font-size: 32px;
	height:30px;
	margin-left: 75px;
}

/*STYLE BAR*/

.SBColorOpened{
	background-color: #eee
}

.SBColorClosed{
	background-color: #fff;
}

.style-bar{
	background-color: #eee
}

.SBBlackoutTitle{
	background-color: none;
	color:#fff;
}

/*style for label button sizing*/

.sizeStyle, .spaceStyle{
	display:flex;
	flex-direction: row;
	margin:3px;
}


.subtractBtn, .additionBtn {
	margin-left: 8px;
	margin-right: 8px;
}


/*Start Button*/
.startButton{
	background-color: #fff;
	border: none;
	font-size: 45px;
	animation-name: circleBlinking;
   	animation-duration: 4s;
   	animation-iteration-count: infinite;
}

/*reset button*/

.greyBackground{
	background-color: rgba(0,0,0,0.3) !important;
}

.resetBtn{
	width:300px;
	height: 200px;
	padding:5px;
}

.question{
	margin-top: 30px;
	text-align: center;
	font-size: 24px;
	line-height: 20px;
	padding:25px;
}

.clickRestart{
	margin-left: 240px;
	margin-top: 40px;
}
/*Blinking Animation*/


@keyframes circleBlinking {
	0% {
		opacity:1;
	}
	25% {
		opacity:0;
	}
	50% {
		opacity:1;
	}
	75% {
		opacity:0;
	}
	100% {
		opacity:1;
	}
}


.blink-animation{
   	animation-name: circleBlinking;
   	animation-duration: 1s;
   	animation-iteration-count: infinite;
}

  

@keyframes rollOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(100%, 0, 0) rotate3d(0, 0, 1, 120deg);
  }
}

.rollOut {
  animation-name: rollOut;
  animation-duration: .5s;
  animation-iteration-count: 1;
}


@keyframes rollIn {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.rollIn {
  animation: 
  rollIn .5s 1,
  circleBlinking 1s .5s infinite;
  
}


 @keyframes shine {
    to {
      background-position: 200% center;
    }
  }


